{% extends "store/base.html" %}

{% load static %}

{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="pb-3 h5">{{ category.name | capfirst }}</div>
        <hr>
        <br>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
            {% for product in products %}
            <div class="col" style="cursor:pointer">
                <div class="card h-100 text-bg-dark mb-3 shadow">
                    {% comment %} <a class="stretched-link" href="{% url 'product_info' product.slug %}"></a>
                    {% endcomment %}
                    <a class="stretched-link" href="{{ product.get_absolute_url }}"></a>
                    <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.title}}">
                    <div class="card-body">
                        <p class="card-text">
                            <h6>{{ product.title | capfirst}}</h6>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <h5>Rs. {{ product.price }}</h5>
                        </div>
                        {% comment %} <p>{{ product.description }}</p> {% endcomment %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>{% endblock %}